<section id="cover" style="margin-top: 7%;
margin-bottom: 6%;">
    <div id="cover-caption">
        <div class="container">
            <div class="row text-white">
                <div class="col-xl-12 col-lg-6 col-md-8 col-sm-10 col-xs-12 mx-auto text-center form p-4">
                    <div class="card">
                        <div class="card-header">
                            <h3>Apply for New Credit Card</h3>
                        </div>
                        <div *ngIf="datasaved" class="text-center errorMsg">
                            <p> This is Your Customer Id: <strong>{{registeredData.customerId}} </strong> </p>
                            <p> This is Your Password: <strong>{{registeredData.password}} </strong> </p>

                        </div>
                        <div class="card-body">
                            <form [formGroup]="registerForm" (ngSubmit)="signUp();">
                                <div class="form-row">
                                    <div class="form-group col-md-6 text-left">
                                        <label for="firstname" class="links">First Name<span
                                                class="required">*</span></label>
                                        <input type="text" formControlName="firstName" class="form-control"
                                            placeholder="Enter First Name">
                                        <div *ngIf="register.firstName.touched && register.firstName.invalid"
                                            class="error">
                                            <div
                                                *ngIf="register.firstName.errors && register.firstName.errors.required ">
                                                First Name is <strong>required</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-left">
                                        <label for="Last Name" class="links">Last Name<span
                                                class="required">*</span></label>
                                        <input type="text" formControlName="lastName" class="form-control"
                                            placeholder="Enter Last Name">
                                        <div *ngIf="register.lastName.touched && register.lastName.invalid"
                                            class="error">
                                            <div *ngIf="register.lastName.errors && register.lastName.errors.required ">
                                                Last Name is <strong>required</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 text-left">
                                        <label for="mobile" class="links">Mobile Number<span
                                                class="required">*</span></label>
                                        <input type="text" formControlName="mobileNumber"
                                            (keypress)="numericOnly($event)" class="form-control"
                                            placeholder="Enter Mobile Number">
                                        <div *ngIf="register.mobileNumber.touched && register.mobileNumber.invalid"
                                            class="error">
                                            <div
                                                *ngIf="register.mobileNumber.errors && register.mobileNumber.errors.required ">
                                                Mobile Number is <strong>required</strong>
                                            </div>
                                            <div
                                                *ngIf="register.mobileNumber.errors && register.mobileNumber.errors.minlength">
                                                Minimum 10 digit is required</div>
                                            <div
                                                *ngIf="register.mobileNumber.errors && register.mobileNumber.errors.maxlength">
                                                Maximum 10 digit is required</div>
                                        </div>

                                    </div>
                                    <div class="ui-g ui-fluid form-group col-md-6 text-left">
                                        <div class="ui-g-12 ui-md-12 text-left">
                                            <label for="dob">Date of Birth<span class="required">*</span></label>
                                            <p-calendar formControlName="dob" [monthNavigator]="true"
                                                [yearNavigator]="true" yearRange="1950:2019" [showIcon]="true">
                                            </p-calendar>
                                            <div *ngIf="register.dob.touched && register.dob.invalid" class="error">
                                                <div *ngIf="register.dob.errors && register.dob.errors.required ">
                                                    Date of Birth is <strong>required</strong>
                                                </div>
                                                <div
                                                    *ngIf="register.dob.errors && register.dob.errors.checkDobValidation">
                                                    User should be 23 Years and Above
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 text-left">
                                        <label for="email" class="links">Email<span class="required">*</span></label>
                                        <input type="email" formControlName="email" class="form-control"
                                            placeholder="Enter Email">
                                        <div *ngIf="register.email.touched && register.email.invalid" class="error">
                                            <div *ngIf="register.email.errors && register.email.errors.required">
                                                Email is <strong>required</strong>
                                            </div>
                                            <div *ngIf="register.email.errors && register.email.errors.email">
                                                Enter valid email address</div>
                                        </div>

                                    </div>
                                    <div class="form-group col-md-6 text-left">
                                        <label for="Gender">Gender<span class="required">*</span></label>
                                        <select class="form-control" formControlName="gender">
                                            <option value="">Choose Gender</option>
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                        <div *ngIf="register.gender.touched && register.gender.invalid" class="error">
                                            <div *ngIf="register.gender.errors && register.gender.errors.required">
                                                Gender is <strong>required</strong>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 text-left">
                                        <label for="Gender">Profession<span class="required">*</span></label>
                                        <select class="form-control" formControlName="profession">
                                            <option value="">Choose Profession</option>
                                            <option value="IT Professional">IT Professional</option>
                                            <option value="Government Services">Government Services</option>
                                        </select>
                                        <div *ngIf="register.profession.touched && register.profession.invalid"
                                            class="error">
                                            <div
                                                *ngIf="register.profession.errors && register.profession.errors.required">
                                                Profession is <strong>required</strong>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-6 text-left">
                                        <label for="amount" class="links">Salary<span class="required">*</span></label>
                                        <input type="text" name="fee" formControlName="amount" class="form-control"
                                            (keypress)="numericOnly($event)" (blur)="validateLimit($event)">
                                        <div *ngIf="register.amount.touched && register.amount.invalid" class="error">
                                            <div *ngIf="register.amount.errors && register.amount.errors.required">
                                                Amount is <strong>required</strong>
                                            </div>
                                            <div *ngIf="register.amount.errors && register.amount.errors.min">
                                                Minimum Salary should be 50000 INR
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-row">
                                    <div class="form-group col-md-6 text-left">
                                        <label for="amount" class="links">Credit Limit<span
                                                class="required">*</span></label>
                                        <input type="text" name="fee" formControlName="creditLimit" class="form-control"
                                            (keypress)="numericOnly($event)" disabled>
                                        <div *ngIf="register.creditLimit.touched && register.creditLimit.invalid"
                                            class="error">
                                            <div
                                                *ngIf="register.creditLimit.errors && register.creditLimit.errors.required">
                                                Credit Amount is <strong>required</strong>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn login_btn"
                                    [disabled]="registerForm.invalid">Apply</button>
                            </form>
                        </div>
                        <div class="card-footer">
                            <div class="d-flex justify-content-center links">
                                Already have an account?<a routerLink="/login">Sign In</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<app-loader [loader]="loader"></app-loader>
<app-alert [sharedAlert]="policyService.showAlert" *ngIf="policyService.showAlert?.modalShow"></app-alert>