<section class="container-fluid" style="margin-top: 7%;
margin-bottom: 5%;">
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body">
            <form class="">
                <div class="col-12 m-3">
                    <label class="sr-only" for="inlineFormInputGroupUsername2">Skills</label>
                    <div class="">
                        <select id="inputState" class="form-control" #skill required>
                            <option value="">Select Skills</option>
                            <option *ngFor="let skill of skillsList" value="{{skill.skillId}}">{{skill.skillName}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-12 m-3">
                    <button type="submit" class="btn btn-primary mb-2" (click)="skillSubmit(skill)">Submit</button>
                </div>
            </form>
        </div>
      </div>
    </div>
    <div class="col-sm-6" *ngIf="overallChart">
      <div class="card">
        <div class="card-body">
            <p-chart type="pie" [data]="dashboarddata" width="" height="300" class="p-3" (onDataSelect)="selectData($event)"></p-chart>
            <!-- <div class="col-6 pull-right">
                <div class=" chartModule float-right">
                    
                </div>
            </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
<div class="container-fluid" style="margin-top: 7%;
margin-bottom: 5%;">
    <!-- Grid row -->
    <div class="row" *ngIf="empList?.length">
        <div class="col-md-12">
            <h3 class="mb-4">Employee List</h3>
        </div>
        <div class="chartModule m-5">
            <p-chart type="pie" [data]="data"></p-chart>               
        </div>

        <p-table [value]="empList">
            <ng-template pTemplate="header">
                <tr>
                    <th>SapID</th>
                    <th>Name</th>
                    <th>OverallExperience</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-listofEmps>
                <tr>
                    <td>{{listofEmps?.sapId}}</td>
                    <td>{{listofEmps?.name}}</td>
                    <td>{{listofEmps?.overAllExperience}}</td>
                    <td>{{listofEmps?.role}}</td>
                    <td><button pButton type="button" label="View Statistics"
                            (click)="viewEmpStatistics(listofEmps?.sapId)"></button></td>
                </tr>
            </ng-template>
        </p-table>
    </div>
    <section class="container-fluid" style="margin-top: 7%;
margin-bottom: 5%;">
<p-dialog header="Employee Skill Score" [(visible)]="display" [modal]="true" [style]="{width: '90vw'}" [maximizable]="true" [baseZIndex]="10000"
[draggable]="false" [resizable]="false">
     <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
                <p-chart type="doughnut" [data]="data" (onDataSelect)="selectData($event)"></p-chart>
            </div>
          </div>
        </div>
        <div class="col-sm-6" *ngIf="skillDetailsChart">
          <div class="card">
            <div class="card-body">
                <p-chart type="bar" [data]="skillChartData"></p-chart>
            </div>
          </div>
        </div>
      </div>
</p-dialog>

</section>
    
</div>

